<div class="main-header">
  <div class="flex-row-header">
    <input class = "header-search-bar" type="text" name="" value="Search Github">
    <p>Pull requests</p>
    <p>Issues</p>
    <p>Marketplace</p>
    <p>Explore</p>
    <%= link_to "Logout", logout_path, id: "logout" %>
  </div>
</div>
