---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=my_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4958'
      X-Ratelimit-Reset:
      - '1517445479'
      Etag:
      - W/"43c1ab57df34843253ec7716111c6bf5"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - client_id
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":116045982,"name":"little_shop","full_name":"abarnes26/little_shop","owner":{"login":"abarnes26","id":26616856,"avatar_url":"https://avatars3.githubusercontent.com/u/26616856?v=4","gravatar_id":"","url":"https://api.github.com/users/abarnes26","html_url":"https://github.com/abarnes26","followers_url":"https://api.github.com/users/abarnes26/followers","following_url":"https://api.github.com/users/abarnes26/following{/other_user}","gists_url":"https://api.github.com/users/abarnes26/gists{/gist_id}","starred_url":"https://api.github.com/users/abarnes26/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/abarnes26/subscriptions","organizations_url":"https://api.github.com/users/abarnes26/orgs","repos_url":"https://api.github.com/users/abarnes26/repos","events_url":"https://api.github.com/users/abarnes26/events{/privacy}","received_events_url":"https://api.github.com/users/abarnes26/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/abarnes26/little_shop","description":null,"fork":false,"url":"https://api.github.com/repos/abarnes26/little_shop","forks_url":"https://api.github.com/repos/abarnes26/little_shop/forks","keys_url":"https://api.github.com/repos/abarnes26/little_shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/abarnes26/little_shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/abarnes26/little_shop/teams","hooks_url":"https://api.github.com/repos/abarnes26/little_shop/hooks","issue_events_url":"https://api.github.com/repos/abarnes26/little_shop/issues/events{/number}","events_url":"https://api.github.com/repos/abarnes26/little_shop/events","assignees_url":"https://api.github.com/repos/abarnes26/little_shop/assignees{/user}","branches_url":"https://api.github.com/repos/abarnes26/little_shop/branches{/branch}","tags_url":"https://api.github.com/repos/abarnes26/little_shop/tags","blobs_url":"https://api.github.com/repos/abarnes26/little_shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/abarnes26/little_shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/abarnes26/little_shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/abarnes26/little_shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/abarnes26/little_shop/statuses/{sha}","languages_url":"https://api.github.com/repos/abarnes26/little_shop/languages","stargazers_url":"https://api.github.com/repos/abarnes26/little_shop/stargazers","contributors_url":"https://api.github.com/repos/abarnes26/little_shop/contributors","subscribers_url":"https://api.github.com/repos/abarnes26/little_shop/subscribers","subscription_url":"https://api.github.com/repos/abarnes26/little_shop/subscription","commits_url":"https://api.github.com/repos/abarnes26/little_shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/abarnes26/little_shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/abarnes26/little_shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/abarnes26/little_shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/abarnes26/little_shop/contents/{+path}","compare_url":"https://api.github.com/repos/abarnes26/little_shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/abarnes26/little_shop/merges","archive_url":"https://api.github.com/repos/abarnes26/little_shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/abarnes26/little_shop/downloads","issues_url":"https://api.github.com/repos/abarnes26/little_shop/issues{/number}","pulls_url":"https://api.github.com/repos/abarnes26/little_shop/pulls{/number}","milestones_url":"https://api.github.com/repos/abarnes26/little_shop/milestones{/number}","notifications_url":"https://api.github.com/repos/abarnes26/little_shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/abarnes26/little_shop/labels{/name}","releases_url":"https://api.github.com/repos/abarnes26/little_shop/releases{/id}","deployments_url":"https://api.github.com/repos/abarnes26/little_shop/deployments","created_at":"2018-01-02T18:44:04Z","updated_at":"2018-01-11T00:22:52Z","pushed_at":"2018-01-13T23:35:31Z","git_url":"git://github.com/abarnes26/little_shop.git","ssh_url":"git@github.com:abarnes26/little_shop.git","clone_url":"https://github.com/abarnes26/little_shop.git","svn_url":"https://github.com/abarnes26/little_shop","homepage":null,"size":702,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"open_issues_count":2,"license":null,"forks":1,"open_issues":2,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":106864039,"name":"enigma","full_name":"freshouttheovenprogrammes/enigma","owner":{"login":"freshouttheovenprogrammes","id":31221477,"avatar_url":"https://avatars2.githubusercontent.com/u/31221477?v=4","gravatar_id":"","url":"https://api.github.com/users/freshouttheovenprogrammes","html_url":"https://github.com/freshouttheovenprogrammes","followers_url":"https://api.github.com/users/freshouttheovenprogrammes/followers","following_url":"https://api.github.com/users/freshouttheovenprog[...]
