---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/leepuppychow/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1517444674'
      Etag:
      - W/"b0d3df32d713a9ae42be7ad6be997103"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":114399820,"name":"parkinsons_app","full_name":"leepuppychow/parkinsons_app","owner":{"login":"leepuppychow","id":29440370,"avatar_url":"https://avatars1.githubusercontent.com/u/29440370?v=4","gravatar_id":"","url":"https://api.github.com/users/leepuppychow","html_url":"https://github.com/leepuppychow","followers_url":"https://api.github.com/users/leepuppychow/followers","following_url":"https://api.github.com/users/leepuppychow/following{/other_user}","gists_url":"https://api.github.com/users/leepuppychow/gists{/gist_id}","starred_url":"https://api.github.com/users/leepuppychow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/leepuppychow/subscriptions","organizations_url":"https://api.github.com/users/leepuppychow/orgs","repos_url":"https://api.github.com/users/leepuppychow/repos","events_url":"https://api.github.com/users/leepuppychow/events{/privacy}","received_events_url":"https://api.github.com/users/leepuppychow/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/leepuppychow/parkinsons_app","description":null,"fork":false,"url":"https://api.github.com/repos/leepuppychow/parkinsons_app","forks_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/forks","keys_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/keys{/key_id}","collaborators_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/teams","hooks_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/hooks","issue_events_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/issues/events{/number}","events_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/events","assignees_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/assignees{/user}","branches_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/branches{/branch}","tags_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/tags","blobs_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/git/refs{/sha}","trees_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/git/trees{/sha}","statuses_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/statuses/{sha}","languages_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/languages","stargazers_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/stargazers","contributors_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/contributors","subscribers_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/subscribers","subscription_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/subscription","commits_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/commits{/sha}","git_commits_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/git/commits{/sha}","comments_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/comments{/number}","issue_comment_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/issues/comments{/number}","contents_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/contents/{+path}","compare_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/compare/{base}...{head}","merges_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/merges","archive_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/downloads","issues_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/issues{/number}","pulls_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/pulls{/number}","milestones_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/milestones{/number}","notifications_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/labels{/name}","releases_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/releases{/id}","deployments_url":"https://api.github.com/repos/leepuppychow/parkinsons_app/deployments","created_at":"2017-12-15T18:25:22Z","updated_at":"2018-01-31T22:49:06Z","pushed_at":"2018-01-28T12:57:59Z","git_url":"git://github.com/leepuppychow/parkinsons_app.git","ssh_url":"git@github.com:leepuppychow/parkinsons_app.git","clone_url":"https://github.com/leepuppychow/parkinsons_app.git","svn_url":"https://github.com/leepuppychow/parkinsons_app","homepage":null,"size":1061,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master"}]'
  recorded_at: Thu, 01 Feb 2018 00:12:21 GMT
recorded_with: VCR 4.0.0
